.DS_Store

.idea/
out/
.idea_modules/
node_modules
dist/

*.iml
modules.xml
*.ipr
*.class
*.log
*.pyc

*.jar
*.zip
*.tar.gz
*.rar

hs_err_pid*

.gradle/
build/
target/
classes/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
tmp.json

