{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-unresolved": "ignore",
    "no-param-reassign": ["error", {"props": false}],
    "linebreak-style": 0
  }
}